.body {
font-family: Arial, sans-serif;
direction: ltr;
background: #f0f0f0;
padding: 100px;
}
.box {
width: 100%;
max-width: 800px;
margin: auto;
background: white;
padding: 20px;
border-radius: 12px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
textarea {
width: 100%;
height: 200px;
padding: 15px;
font-size: 16px;
resize: vertical;
border-radius: 10px;
border: 1px solid #ccc;
}
.btn {
display:none;
padding: 10px 20px;
font-size: 16px;
margin: 10px auto 0;
cursor: pointer;
border: none;
border-radius: 8px;
background: #007bff;
color: white;
}
.btn:hover { background: #0056b3; }
#result-box {
display: none;
width: 100%;
margin-top: 20px;
padding: 15px;
min-height: 150px;
border: 1px solid #aaa;
background: #fafafa;
white-space: pre-wrap;
border-radius: 10px;
}
.btn-group {
  display: none;
  gap: 10px;
  justify-content: flex-end; /* لتوجيههم لليمين */
  margin-bottom: 5px;    
  padding: 5px;
}

.btn-g {
  padding: 5px 12px;       /* حجم صغير */
  font-size: 14px;         /* حجم الخط صغير */
  border: none;
  border-radius: 6px;
  background: #28a745;     /* لون أخضر */
  color: white;
  cursor: pointer;
}

.btn-g:hover {
  background: #218838;     /* لون أخضر أغمق عند hover */
}

input[type="file"] {
margin-top: 10px;
}
/* loader spinner */
.loader-wrapper{
  display: none;           /* مخفي افتراضياً */
  justify-content: center; /* لمركزة اللودر أفقيًا */
  align-items: center;     /* لمركزة اللودر رأسيًا */
  margin-top: 12px;
}
.loader{
  width: 44px;
  height: 44px;
  border: 5px solid rgba(0,0,0,0.08);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}
@keyframes spin { to { transform: rotate(360deg); } }
