.background {
display: flex;
flex-wrap: wrap;
gap: 15px;
flex-direction: row;  /* صف أفقي دايمًا */
justify-content: center;
padding: 10px;
padding: 120px;
background-color: #fbfbfb;
}

.upload-box {
width: 400px;
height: 250px;
border: 2px dashed #777;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: #fff;
cursor: pointer;
transition: 0.3s;
margin-bottom: 30px;
}

.upload-box:hover {
border-color: #333;
background: #fafafa;
}


#fileInput {
display: none;
}


.gallery {
width: 90%;
max-width: 900px;
display: none;
flex-wrap: wrap;
gap: 15px;
justify-content: center;
padding: 10px;
}


.thumb {
width: 120px;
height: 120px;
border-radius: 10px;
overflow: hidden;
position: relative;
border: 1px solid #ccc;
background: #fff;
}


.thumb img {
width: 100%;
height: 100%;
object-fit: cover;
}


.remove-btn {
position: absolute;
top: 5px;
right: 5px;
background: rgba(0,0,0,0.6);
color: #fff;
border: none;
padding: 4px 7px;
cursor: pointer;
border-radius: 5px;
font-size: 12px;
}


.bottom-btn-box {
margin-top: 20px;
text-align: center;
width: 100%;
}


.bottom-btn-box button {
padding: 10px 18px;
border: none;
border-radius: 8px;
cursor: pointer;
background: #333;
color: #fff;
font-size: 14px;
}

#loader {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#loader p {
  font-size: 14px;
  color: #555;
  margin-top: 8px;
}

.loader-bar {
  width: 200px;
  height: 10px;
  background: #ddd;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#loaderFill {
  width: 0%;
  height: 100%;
  background: #4CAF50;
  transition: width 0.3s;
}
#ocrResults {
    width: 100%;
    display: none;
    background-color: #ffffff; /* لون خلفية أبيض */
    padding: 20px; /* مسافة داخلية حول المحتوى */
    margin: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}