.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('..//assets/image_1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.glass-box {
    width: 70%;
    padding: 30px;
    /* backdrop-filter: blur(5px); */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.3);
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

textarea {
    width: 100%;
    height: 180px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    resize: none;
    background: rgba(255,255,255,0.1);
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4) inset;
}
.button {
    margin-top: 15px;
    width: 30%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: rgba(5, 112, 155, 0.6);
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    display: block;    
    margin-left: auto; 
    margin-right: auto
}

.button:hover {
    background: rgba(255,255,255,0.4);
} 

/* audio wrapper */
.audio-box {
    margin-top: 30px;
    padding: 20px;
    background: rgba(255,255,255,0.15);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.2);
    display: flex;
    align-items: center;        /* vertical center */
    justify-content:center; 
    flex-direction: column;
    gap: 12px;
}

#wave {
    width: 100%;
    height: 80px;
    position: relative;

}

#loader {
    display: block;
    width: fit-content; 
    margin: 0 auto; 
    font-size: 16px;
    color: purple;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.3; }
}

 .upload-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(5, 112, 155, 0.6);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .upload-btn:hover { background-color: rgba(255,255,255,0.4) }

  .upload-btn svg { 
    margin-right: 8px; 
    width: 20px; 
    height: 20px; 
    fill: white; 
  }

  /* نخفي input الفعلي */
  #fileInput {
    display: none;
  }

  #playPause {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #0a58ca;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.15s ease, background 0.15s ease;
  }
   #playPause:hover {  background-color: rgba(4, 49, 112, 0.6);}

  #playPause svg {
  width: 24px;
  height: 24px;
  fill: white;
transition: transform 0.15s ease;
}

#playPause:active #icon-playPause {
  transform: scale(0.9);
}
